{% extends 'base.html' %}






{% block content %}
<h1>Basic information</h1>
<ul>
    <li>Email: jessejmetzger@gmail.com</li><br></br>
    <li>More Data Science projects can be found on my <a href="https://github.com/jmetzg11">GitHub</a>.</li><br></br>
    <li>Education: My <a href="https://sais.jhu.edu/academics/master-degrees/master-arts-international-relations-mair">Master's</a> in Internation Relations is from Johns Hopkins.
    The focus was on Russia and Economic Development. My degree is on <a href="https://github.com/jmetzg11/Degree-and-Certificates/blob/main/masters_degree.pdf">GitHub</a>.</li><br></br>
    <li>Hobbies in Moscow: Before the Pandemic I would choke and get chocked by people <a href="https://www.titanbjj.ru/">here</a> a few times a week.</li><br></br>
    <li>Moscow: Я здесь ради моей умной, успешной девушки. Однако мы договорились, что если я не найду крутую работу, то мы переедем в Калифорнию.
    Я говорю хорошо по-русски и пару лет назад я сдал сложный <a href="https://github.com/jmetzg11/Degree-and-Certificates/blob/main/russian_language.pdf">экзамен</a>.</li><br></br>
    <li>Source Code for this site ____ </li>
</ul>
{% endblock content %}
